* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: gilroy,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1,5;
}

header .header-menu {
  background-color: #f5f5f5;
}

header .header-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 85%;
}

header .header-menu .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-menu a {
  padding: 17px 30px;
  font-size: 12px;
  color: #535353;
}

header .header-menu a:hover {
  background-color: #ffffff;
  padding: 17px 30px 17px 30px;
  color: #f7842a;
  -webkit-box-shadow: 0 0 10px #e9e9e9;
          box-shadow: 0 0 10px #e9e9e9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header-menu a::before {
  content: none;
  width: 1px;
  height: 33.3333%;
  background-color: #fff;
  position: absolute;
  left: 0;
}

header .header-menu .header-number {
  padding-left: 30px;
}

header .header-menu span:nth-child(1) {
  font-size: 12px;
  color: #535353;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

header .container .logo-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .container .logo-wraper .catalog-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

header .container .logo-wraper .catalog-btn .burger {
  background-color: #f56d01;
  width: 90px;
  height: 90px;
  padding: 0 32px;
}

header .container .logo-wraper .catalog-btn .burger hr {
  width: 18px;
  height: 2px;
  background-color: #fff;
  margin-top: 4px;
}

header .container .logo-wraper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 45px;
}

header .header-btns a:nth-child(1) {
  padding: 32px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

header .header-btns a:nth-child(2) {
  padding: 32px;
}

header .header-btns a:nth-child(3) {
  padding: 32px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

header .header-btns a:hover {
  -webkit-box-shadow: 0 0 15px #e1e1e1;
          box-shadow: 0 0 15px #e1e1e1;
}

main .breadcrumbs {
  background-color: #f5f5f5;
}

main .breadcrumbs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 0 auto;
}

main .breadcrumbs .container a {
  color: #a9a9a9;
  padding: 14px 4px;
}

main .breadcrumbs .container span {
  margin-left: 4px;
}

main .breadcrumbs .container span:nth-child(-n + 4) {
  color: #a9a9a9;
}

main .container {
  width: 85%;
  margin: 0 auto;
  color: #010101;
  margin-bottom: 214px;
}

main .container .title-1 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 64px;
  margin-bottom: 38px;
}

main .container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 31px;
}

main .container .section {
  border: 1px solid #e8e8e8;
  margin-top: 67px;
  margin-bottom: 80px;
}

main .container .title-2 {
  font-size: 28px;
  font-weight: bold;
}

main .container .article-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .article-list .article-list-item .article-image {
  background-color: #8e8e8e;
  height: 192px;
  width: 259px;
}

main .container .article-list .article-list-item .article-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .article-list .article-list-item .article-date span {
  font-size: 12px;
  color: #9b9b9b;
  margin-top: 20px;
  margin-bottom: 17px;
  width: 16%,666%;
}

footer {
  background-color: #f7f7f7;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

footer .container .footer-column {
  width: 16.6666%;
}

footer .container .footer-column .footer-column-contact {
  width: 83,3%;
}

footer .container .footer-column .footer-column-contact .footer-column-support {
  font-size: 16px;
  font-weight: 500;
}
