* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a:hover {
  color: #ce5d03 !important;
}

body {
  font-family: gilroy,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1,5;
}

header .header-menu {
  background-color: #f5f5f5;
}

header .header-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 85%;
}

header .header-menu .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-menu a {
  padding: 17px 30px;
  font-size: 12px;
  color: #535353;
}

header .header-menu a:hover {
  background-color: #ffffff;
  padding: 17px 30px 17px 30px;
  color: #f7842a;
  -webkit-box-shadow: 0 0 10px #e9e9e9;
          box-shadow: 0 0 10px #e9e9e9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header-menu a::before {
  content: none;
  width: 1px;
  height: 33.3333%;
  background-color: #fff;
  position: absolute;
  left: 0;
}

header .header-menu .header-number {
  padding-left: 30px;
}

header .header-menu span:nth-child(1) {
  font-size: 12px;
  color: #535353;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

header .container .logo-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .container .logo-wraper .catalog-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #f56d01;
  width: 90px;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .logo-wraper .catalog-btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .container .logo-wraper .catalog-btn:hover hr:nth-child(1) {
  width: 100%;
}

header .container .logo-wraper .catalog-btn:hover hr:nth-child(2) {
  width: 75%;
}

header .container .logo-wraper .catalog-btn:hover hr:nth-child(3) {
  width: 50%;
}

header .container .logo-wraper .burger {
  width: 18%;
}

header .container .logo-wraper .burger hr {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .container .logo-wraper .burger hr + hr {
  margin-top: 4px;
}

header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 45px;
}

.header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-right: -1px;
}

.header-btns a {
  padding: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-btns a:nth-child(1) {
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.header-btns a:nth-child(3) {
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.header-btns a:hover {
  -webkit-box-shadow: 0 0 15px #e1e1e1;
          box-shadow: 0 0 15px #e1e1e1;
}

.catalog-menu-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-menu-wrap .container {
  width: 85%;
  margin: 0 auto;
}

main .breadcrumbs {
  background-color: #f5f5f5;
}

main .breadcrumbs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: 0 auto;
}

main .breadcrumbs .container a {
  color: #a9a9a9;
  padding: 14px 4px;
}

main .breadcrumbs .container span {
  margin-left: 4px;
}

main .breadcrumbs .container span:nth-child(-n + 4) {
  color: #a9a9a9;
}

main .container {
  width: 85%;
  margin: 0 auto;
  color: #010101;
  margin-bottom: 214px;
}

main .container .title-1 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 64px;
  margin-bottom: 38px;
}

main .container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 31px;
}

main .container .section {
  border: 1px solid #e8e8e8;
  margin-top: 67px;
  margin-bottom: 80px;
}

main .container .title-2 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 75px;
}

main .container .article-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .article-list .article-list-item {
  width: 259px;
}

main .container .article-list .article-list-item .article-image {
  background-color: #8e8e8e;
  height: 192px;
}

main .container .article-list .article-list-item .article-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .article-list .article-list-item .article-date span {
  font-size: 12px;
  color: #9b9b9b;
  margin-top: 20px;
  margin-bottom: 17px;
  width: 16%,666%;
}

main .container .article-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 32px;
}

footer {
  padding-top: 78px;
  background-color: #f7f7f7;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 54px;
}

footer .container .footer-column:nth-child(1) {
  width: 16.666%;
}

footer .container .footer-column:nth-child(1) .footer-column-contact {
  width: 83.3333%;
}

footer .container .footer-column:nth-child(1) .footer-column-contact .footer-column-support {
  font-size: 16px;
  font-weight: 500;
  padding-top: 34px;
}

footer .container .footer-column:nth-child(1) .footer-column-contact .footer-column-time {
  font-size: 12px;
  color: #767676;
  padding-top: 16px;
}

footer .container .footer-column:nth-child(1) .footer-column-contact .footer-column-call {
  font-size: 18px;
  font-weight: 600;
  padding-top: 12px;
}

footer .container .footer-column:nth-child(2) {
  width: 16.6666%;
}

footer .container .footer-column:nth-child(2) .footer-column-support {
  font-size: 16px;
  font-weight: 500;
  padding-top: 34px;
}

footer .container .footer-column:nth-child(2) .footer-column-info {
  color: #818181;
  padding-top: 15px;
}

footer .container .footer-column:nth-child(2) .footer-column-link {
  color: #323232;
  padding: 25px 45px;
  border: 1px solid #323232;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

footer .container .footer-column:nth-child(2) .footer-column-link:nth-child(1) {
  margin-top: 42px;
}

footer .container .footer-column:nth-child(2) .footer-column-link:nth-child(2) {
  margin-top: 30px;
}

footer .container .footer-column:nth-child(2) .footer-column-link:hover {
  background-color: #f56d01;
  color: #ffffff;
  border: 1px solid #f56d01;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .container .footer-column:nth-child(3) {
  width: 20.8333%;
}

footer .container .footer-column:nth-child(3) .footer-column-addres {
  width: 87.5%;
}

footer .container .footer-column:nth-child(3) .footer-column-addres .footer-column-support {
  font-size: 16px;
  font-weight: 500;
  padding-top: 34px;
}

footer .container .footer-column:nth-child(3) .footer-column-addres .footer-column-info {
  color: #818181;
  padding-top: 15px;
}

footer .container .footer-column:nth-child(3) .footer-column-socials .footer-column-support {
  font-size: 16px;
  font-weight: 500;
  padding-top: 34px;
}

footer .container .footer-column:nth-child(3) .footer-column-socials .footer-socials-wrapper {
  margin-top: 17px;
}

footer .container .footer-column:nth-child(3) .footer-column-socials .footer-socials-wrapper .footer-socials {
  padding-right: 9px;
}

footer .container .footer-column:nth-child(3) .footer-column-payment .footer-column-support {
  font-size: 16px;
  font-weight: 500;
  padding-top: 34px;
}

footer .container .footer-column:nth-child(3) .footer-column-payment .footer-column-payment-wrapper {
  margin-top: 17px;
  padding-right: 20px;
}

footer .container .footer-column:nth-child(4) {
  width: 35.7%;
}

footer .container .footer-column:nth-child(4) .footer-column-support {
  font-size: 16px;
  font-weight: 500;
  padding-top: 34px;
}

footer .container .footer-column:nth-child(4) .footer-column-furniture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  line-height: 1.5;
}

footer .container .footer-column:nth-child(4) .footer-column-furniture .footer-furniture:nth-child(1) {
  width: 41.6666%;
}

footer .container .footer-column:nth-child(4) .footer-column-furniture .footer-furniture:nth-child(1) a {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

footer .container .footer-column:nth-child(4) .footer-column-furniture .footer-furniture:nth-child(1) .footer-column-info {
  color: #818181;
  padding-top: 15px;
}

footer .container .footer-column:nth-child(4) .footer-column-furniture .footer-furniture:nth-child(2) {
  width: 54.1666%;
}

footer .container .footer-column:nth-child(4) .footer-column-furniture .footer-furniture:nth-child(2) a {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

footer .container .footer-column:nth-child(4) .footer-column-furniture .footer-furniture:nth-child(2) .footer-column-info {
  color: #818181;
  padding-top: 15px;
}

footer .container-copyright {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border-top: 1px solid #dedede;
}

footer .container-copyright .copyright-item {
  width: 79.1666%;
  font-size: 12px;
  color: #767676;
  padding-top: 23px;
  padding-bottom: 23px;
}

footer .container-copyright .copyright-item span {
  font-size: 12px;
  color: #767676;
}

footer .container-copyright span {
  font-size: 12px;
  color: #767676;
}

footer .container-copyright a {
  font-size: 12px;
  color: #3f6dfe;
}
