header .container {
  max-width: 1410px;
  min-width: 1061px;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0px;
  background-color: #f5f5f5;
}

header .header-menu .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .main-menu {
  position: relative;
  line-height: 1;
  background-color: transparent;
  color: inherit !important;
  -webkit-transition-property: background-color,-webkit-box-shadow;
  transition-property: background-color,-webkit-box-shadow;
  transition-property: background-color,box-shadow;
  transition-property: background-color,box-shadow,-webkit-box-shadow;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

header .main-menu a {
  padding: 15 30px;
  color: ;
}
