@import "nullstyle.scss";
.container{
   max-width: 1916px;
   min-width: ;
}
.header-menu{
   background-color: #f5f5f5;

   .container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
   }
   
}