@import "nullstyle.scss";
$clrf5f5: #f5f5f5;
@mixin nth-child {
   span:nth-child(-n + 4){
      color: #a9a9a9;
   }
   
}
body{
   font-family: gilroy,sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 1,5;
   
}
header{
   .header-menu{
      background-color: #f5f5f5;
   
      .container{
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: space-between;
         margin: 0 auto;
         width: 85%;
      }
      .main-menu{
         display: flex;
         align-items: center;
         
        }
      a{
         padding: 17px 30px;
         font-size: 12px;
         color: #535353;
         &:hover{
            background-color: #ffffff;
            padding:17px 30px 17px 30px;
            color: #f7842a;
            box-shadow: 0 0 10px #e9e9e9;
            transition: 0.3s;
            
         }
         &::before{
            content:none;
            width: 1px;
            height: 33.3333%;
            background-color: #fff;
            position: absolute;
            left:0;
         }
      }
      .header-number{
         padding-left: 30px;
      
      }
      span:nth-child(1){
         font-size: 12px;
         color: #535353;
      }     
   }
   .container{
      display: flex;
      flex-wrap: wrap;
      align-items:center;
      justify-content: space-between;
      width: 85%;
      margin: 0 auto;

      .logo-wraper{
         display: flex;
         flex-wrap: wrap;

         .catalog-btn{
            display: flex;
            align-items: center;
            margin: 0 auto;

         .burger{
            background-color: #f56d01;
            width: 90px;
            height: 90px;
            padding: 0 32px;

            hr{
               width: 18px;
               height: 2px;
               background-color: #fff;
               margin-top: 4px;
            }
         }
      }
      .logo{
        display: flex;
        align-items: center;
        margin-left: 45px;
      }
   }

      }
    .header-btns{
      
     
       a:nth-child(1){
          padding: 32px;
          border-left: 1px solid $clrf5f5;
          border-right: 1px solid $clrf5f5;
          
       }
       a:nth-child(2){
         padding: 32px;
         
       }
       a:nth-child(3){
          padding: 32px;
          border-left: 1px solid $clrf5f5;
          border-right: 1px solid $clrf5f5;
       }
       a:hover{
         box-shadow: 0 0 15px #e1e1e1;
          
       }
       
    }  
}
main{
   .breadcrumbs{
      background-color: #f5f5f5;
      .container{
         display: flex;
         flex-wrap: wrap;
         align-items:center;
         width: 85%;
         margin: 0 auto;
         a{
            color: #a9a9a9;
            padding: 14px 4px;
         }
         span{
            margin-left: 4px;
         }
         @include nth-child;
      }
   }
   .container{
         width: 85%;
         margin: 0 auto;
         .title-1{
            font-size: 28px;
            font-weight: bold;
            margin-top: 64px;
            margin-bottom: 38px;            
         }
         p{
            font-size: 16px;
         }
         
   }
} 