   header{
      .container{
         max-width: 1410px;
         min-width: 1061px;
         width: 85%;
         display: flex;
         flex-wrap: wrap;
      }
      .header-menu{
         display: flex;	
         justify-content: space-between;
         padding: 15px 0px;
         background-color: #f5f5f5;
         .container{
            align-items: center;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
         }
       
         }
         .main-menu{
            position: relative;
            line-height: 1;
            background-color: transparent;
            color: inherit!important;
            transition-property: background-color,box-shadow;
            transition-duration: .3s;
            a{
               padding: 15px 30px;
               color: #535353;
            }
        
         } 
      }
      
   

   
   