@import "nullstyle.scss";
$clrf5f5: #f5f5f5;
@mixin nth-child {
   span:nth-child(-n + 4){
      color: #a9a9a9;
   }

}
a:hover{
   color:#ce5d03 !important
}

body{
   font-family: gilroy,sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.5;
}
header{
   .header-menu{
      background-color: #f5f5f5;

      .container{
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: space-between;
         margin: 0 auto;
         width: 85%;
      }
      .main-menu{
         display: flex;
         align-items: center;

      }
      a{
         padding: 17px 30px;
         font-size: 12px;
         color: #535353;
         &:hover{
            background-color: #ffffff;
            padding:17px 30px 17px 30px;
            color: #f7842a;
            box-shadow: 0 0 10px #e9e9e9;
            transition: 0.3s;
         }
         &::before{
            content:none;
            width: 1px;
            height: 33.3333%;
            background-color: #fff;
            position: absolute;
            left:0;
         }
      }
      .header-number{
         padding-left: 30px;
      }
      span:nth-child(1){
         font-size: 12px;
         color: #535353;
      }
   }
   .container{
      display: flex;
      flex-wrap: wrap;
      align-items:stretch;
      justify-content: space-between;
      width: 85%;
      margin: 0 auto;

      .logo-wraper{
         display: flex;
         flex-wrap: wrap;

         .catalog-btn{
            display: flex;
            align-items: center;
            margin: 0 auto;
            background-color: #f56d01;
            width: 90px;
            height: 90px;
            justify-content: center;
            &:hover{
               transition: 0.3s;
               & hr:nth-child(1){
                  width:100%;
               }
               & hr:nth-child(2){
                  width: 75%;
               }
               & hr:nth-child(3){
                  width: 50%;
               }
             }
          }

         .burger{
            width: 18%;

            hr{
               width: 100%;
               height: 2px;
               background-color: #fff;
               transition: 0.3s;
                &+ hr{
                  margin-top: 4px;
               }
            }
         }
      }

      .logo{
        display: flex;
        align-items: center;
        margin-left: 45px;
      }
  }
  .header-btns {
    display: flex;
    align-items: stretch;
    margin-right: -1px;

    a {
      padding: 0 32px;
      display: flex;
      align-items: center;
    }

    a:nth-child(1) {
      border-left: 1px solid $clrf5f5;
      border-right: 1px solid $clrf5f5;
    }

    a:nth-child(3) {
      border-left: 1px solid $clrf5f5;
      border-right: 1px solid $clrf5f5;
    }

    a:hover {
      box-shadow: 0 0 15px #e1e1e1;
    }
  }

  .catalog-menu-wrap{
      width: 100%;
      position: absolute;
      .container{
         display: flex;
         display: -webkit-box;
         display: -webkit-flex;
         .catalog-menu-nav{
            width:90px;
            .catalog-menu-nav-item{
               display: block;
               text-align: center;
               border: 1px solid #e4e4e4;
               border-top: 0;
               border-left-color: #f6f6f6;
               padding: 25px 8px;
               height: 135px;
            }
         }
         .catalog-menu-content{
            display: flex;
            width: calc(100% - 90px);
            position: relative;
            background-color: #f7f7f7;
         }
      }
  }
}
main{
   .breadcrumbs{
      background-color: #f5f5f5;
      .container{
         display: flex;
         flex-wrap: wrap;
         align-items:center;
         width: 85%;
         margin: 0 auto;
         a{
            color: #a9a9a9;
            padding: 14px 4px;
         }
         span{
            margin-left: 4px;
         }
         @include nth-child;
      }
   }
   .container{
         width: 85%;
         margin: 0 auto;
         color:#010101;
         margin-bottom: 214px;
         .title-1{
            font-size: 28px;
            font-weight: bold;
            margin-top: 64px;
            margin-bottom: 38px;
         }
         p{
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 31px;
         }
         .section{
            border: 1px solid #e8e8e8;
            margin-top: 67px;
            margin-bottom: 80px;

         }
         .title-2{
            font-size: 28px;
            font-weight:bold;
            padding-bottom: 75px;
         }
         .article-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article-list-item{
               color:#010101;
               &:hover{
                  box-shadow: 0 0 10px #adabab;
                  color: inherit !important;
                  transition: 0.3s;
               }
            }
            .article-list-item{
               width: 23.125%;
               padding: 35px;


               .article-image{
                  background-color: #8e8e8e;
                  height: 192px;

               }
               .article-date{
                  display: flex;
                  justify-content: space-between;


                  span{
                     font-size: 12px;
                     color:#9b9b9b;
                     margin-top: 20px;
                     margin-bottom: 17px;
                     width: 16%,666%;
                  }

               }

            }
         }
         .article-title{
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 32px;
         }
   }
}
footer{
   padding-top: 78px;
   background-color: #f7f7f7;
   .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 85%;
      margin: 0 auto;
      padding-bottom: 54px;
      .footer-column:nth-child(1){
         width: 16.666%;
         .footer-column-contact{
            width:83.3333%;
            .footer-column-support{
               font-size: 16px;
               font-weight: 500;
               padding-top: 34px;
            }
            .footer-column-time{
               font-size: 12px;
               color:#767676;
               padding-top: 16px;

            }
            .footer-column-call{
               font-size: 18px;
               font-weight: 600;
               padding-top: 12px;
            }
         }
      }
      .footer-column:nth-child(2){
         width:16.6666%;
         .footer-column-support{
            font-size: 16px;
            font-weight: 500;
            padding-top: 34px;
         }
         .footer-column-info{
            color:#818181;
            padding-top: 15px;
         }
         .footer-column-link{
            color:  #323232 ;
            padding: 25px 45px;
            border: 1px solid #323232;
            width: 100%;
            display: inline-block;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            &:nth-child(1){
               margin-top: 42px;
            }
            &:nth-child(2){
               margin-top: 30px
            }
            &:hover{
               background-color: #f56d01;
               color:#ffffff !important;
               border: 1px solid #f56d01;
               transition: 0.3s;
            }
         }
         .footer-column-support-link{
            color:#000000;
         }
         .footer-column-info-link{
            color:#818181;
         }
      }
      .footer-column:nth-child(3){
         width: 20.8333%;
         .footer-column-addres{
            width: 87.5%;
            .footer-column-support{
               font-size: 16px;
               font-weight: 500;
               padding-top: 34px;
            }
            .footer-column-info{
               color:#818181;
               padding-top: 15px;
            }

         }
         .footer-column-socials{
            .footer-column-support{
               font-size: 16px;
               font-weight: 500;
               padding-top: 34px;
            }
            .footer-socials-wrapper{
               margin-top: 17px;
               .footer-socials{
                  padding-right: 9px;
               }
            }
         }
         .footer-column-payment{
            .footer-column-support{
               font-size: 16px;
               font-weight: 500;
               padding-top: 34px;
            }
            .footer-column-payment-wrapper{
               margin-top: 17px;
               padding-right: 20px;

            }
         }
      }
      .footer-column:nth-child(4){
         width: 35.7%;
         .footer-column-support{
            font-size: 16px;
            font-weight: 500;
            padding-top: 34px;
         }
         .footer-column-furniture{
            display: flex;
            padding-top: 17px;
            line-height: 1.5;

           .footer-furniture:nth-child(1){
              width: 41.6666%;
              a{
                 font-size: 14px;
                 color: #000;
                 font-weight: 400;
              }
              .footer-column-info{
               color:#818181;
               padding-top: 15px;
              }
           }
           .footer-furniture:nth-child(2){
              width: 54.1666%;
              a{
                 font-size: 14px;
                 color: #000;
                 font-weight: 400;
              }
              .footer-column-info{
               color:#818181;
               padding-top: 15px;
              }
           }
         }
      }

   }
   .container-copyright{
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      border-top: 1px solid #dedede;
      .copyright-item{
         width: 79.1666%;
         font-size: 12px;
         color: #767676;
         padding-top: 23px;
         padding-bottom: 23px;
         span{
            font-size: 12px;
            color: #767676;
         }

      }
      span{
         font-size: 12px;
         color: #767676;
      }
      a{
         font-size: 12px;
         color: #3f6dfe;
      }
   }
}
