@import "nullstyle.scss";

.header-menu{
   background-color: #f5f5f5;

   .container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      width: 85%;
   }
   .main-menu{
      display: flex;
      align-items: center;
     }
   a{
      padding: 17px 30px;
      &:hover{
         background-color: #ffffff;
         padding:17px 30px 17px 30px;
         color: #f7842a;
         box-shadow: 0 0 10px #e9e9e9;
         transition-delay:1,5s;
         
      }
   }
   
   
}