@import "nullstyle.scss";

.header-menu{
   background-color: #f5f5f5;

   .container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      width: 85%;
   }
   .main-menu{
      padding: 17px 16px;
   }
   
}